@import url('https://fonts.googleapis.com/css?family=Kalam');


.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  font-family: "Kalam", Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-align: center;
}
